.messages {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.messagesList {
  list-style: none;
  margin: 0;
  border-right: 2px solid hotpink;
  padding: 0 10px 0 0;

  a {
    display: flex;
    align-items: center;
    gap: 10px;

    border: 1px solid #9c9cabaa;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
    transition: .2s;

    &:hover, &:focus {
      background: #9c9cabaa;
      border: 1px solid transparent;

      &::after {
        display: none;
      }
    }

    &.active {
      background: #9c9cabaa;
      border: 1px solid transparent;
    }

  }

  img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }
}

.messagesDialog {
  padding-left: 10px;
}