.profile {
  display: flex;
  margin-top: 20px;
  border-radius: 6px;
  background-color: #151728;
  background-image: url('../../assets/img/profile-back.jfif');
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 20px;
  position: relative;
  max-height: 350px;
  z-index: 1;

  @media (min-width: 1024px) {
    min-height: 250px;
    background-position: 0 110%;
  }
}

.profileAvatar {
  z-index: 1;
  display: flex;
  align-items: center;
  margin-left: 24px;
  padding-top: 10%;
  p {
    color: white;
    font-size: 22px;
    margin-left: 24px;
    font-weight: 600;
  }
  img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    object-fit: cover;
    border: 3px solid #151728;
    @media (min-width: 768px) {
      width: 150px;
      height: 150px;
    }
  }
}