.textarea {
  width: 100%;
  border-radius: 10px;
  resize: none;
  min-height: 150px;
  padding: 20px;
  font-size: 24px;
  font-family: inherit;
  margin-bottom: 10px;
  &:focus {
    outline: none;
  }
}
.newPost {
  border: none;
  border-radius: 7px;
  color: mintcream;
  font-size: 18px;
  padding: 7px 20px;
  background: hotpink;
  font-family: inherit;
  margin-left: auto;
  display: block;
  cursor: pointer;
  transition: .2s;
  &:hover {
    background: darken(hotpink, 20%);
    color: #fff;
  }
  &:active {
    box-shadow: 2px 2px #000;
    outline: none;
  }
  &:focus {
    outline: none;
  }
}